.background {
    height: auto;
    width: 60vw;
    min-width: 300px;
    min-width: 500px;
    background-color: rgb(197, 197, 197);
    box-shadow: 0 0 50px 10px rgba(144, 144, 144, 0.3) inset;
    border-radius: 10px;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}